{{ define "main" }}
<main class="post">

    <div class="post-info">
        {{ if .IsTranslated }}
        {{ if not .Params.hidelanguage }}
        {{ range .Translations }}
        {{ i18n "postAvailable" }}
        <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
        {{ end}}
        {{ end }}
        {{ end }}
    </div>

    <article style="display: flex; flex-wrap: wrap; gap: 3cm;">
        {{ if .Params.photo }}
        <figure class="post-cover" style="flex: 1; max-width: calc(50% - 1.5cm);">
            <img src="{{ .Params.photo | absURL }}" alt="{{ .Title }}" style="width: 100%; height: auto;" />
        </figure>
        {{ end }}

        <div class="post-content" style="flex: 1; max-width: calc(50% + 1.5cm);"> <!-- Ajuste considerando el gap -->
            {{if not .Params.hideTitle }}
            <h2 class="post-title">{{ .Title | markdownify }}</a></h2>
            <h3 class="post-nick">{{ .Params.Nick | markdownify }}</a></h3>
            {{ end }}

            {{ .Content }}

            <div class="social-icons">
                {{ if .Params.social.twitter }}
                <a href="{{ .Params.social.twitter }}"><i class="fab fa-twitter"></i></a>
                {{ end }}
                {{ if .Params.social.instagram }}
                <a href="{{ .Params.social.instagram }}"><i class="fab fa-instagram"></i></a>
                {{ end }}
                {{ if .Params.social.linkedin }}
                <a href="{{ .Params.social.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                {{ end }}
            </div>
        </div>

    </article>

    <hr />

    <div class="post-info">
        {{ partial "tags.html" .Params.tags }}
        {{ partial "categories.html" . }}

        {{- if .GitInfo }}
        <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg><a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a> @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}</p>
        {{- end }}
    </div>
</main>
{{ end }}
