<header class="header">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <span class="header__inner">
        {{ if .Site.Params.logo.logoImage }}
            <a href="{{ .Site.Params.logo.logoHomeLink | relURL }}">
                <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo.logoImage }}" alt="Logo" style="height: 100px;">
            </a>
        {{ end }}
        {{ partial "logo.html" . }}

        <span class="header__right">
          
            {{ if len .Site.Menus }}
                {{ partial "menu.html" . }}
                <span class="menu-trigger">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                    </svg>
                </span>
            {{ end }}

            {{- if .Site.Params.EnableThemeToggle }}
                <span class="theme-toggle not-selectable">{{ partial "theme-toggle-icon.html" . }}</span>
            {{- end}}

        </span>
    </span>
</header>
